.CreateTodoButton {
    margin-top: 24px;
    width: 120px;
    height: 56px;
    border: none;
    border-radius: 12px;
    background: #4b006e;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(59, 7, 95, 0.3);
    position: fixed;
    bottom: 24px;
    right: 23px;

    z-index: 1;

    transform: rotate(0);
    transition: .3s ease;
}

.CreateTodoButton:hover {
    background: #64008f;
    transform: rotate(360deg);
}